export('CountCoverageOfNoodles','nucl.chromosomes.hg19','prepare.uniform.noodles','gene.list.by.overlap','prepare.tabulated.fisher','tab.fisher.row.no')
import('IRanges','GenomicRanges','rtracklayer','Homo.sapiens','org.Hs.eg.db')
