export('CountCoverageOfNoodles','count.coverage.of.noodles','indicate.any.coverage.of.noodles','max.peak.score.for.each.noodle','nucl.chromosomes.hg38','nucl.chromosomes.hg19','nucl.chromosomes.hg18','get.cytoband.ranges','prepare.covering.noodles','genes.intersected','genes.with.TSS.covered','genes.intersected.by.interval','genes.with.TSS.covered.by.interval','closest.gene.start.by.interval','closest.gene.by.interval','prepare.tabulated.fisher','tab.fisher.row.no')
